<dialog id="turbo-confirm" class="rounded shadow-md">
  <form method="dialog">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 id="modal-title" class="text-lg leading-6 font-medium text-gray-900">Are you Sure?</h3>
    </div>
    <div>
      <button value="confirm">Yes</button>
      <button value="cancel">No</button>
    </div>
  </form>
</dialog>
